<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>

</head>

<body>

<div id="wrap">
    <form name="frm" id="frm">
        <input type="text" id="id" name="id" value="test" />
        <input type="text" id="pw" name="pw" value="test password" />
        <input id="btnSend" name="btnSend" type="button" value="send to Native App"/>
        <input id="btnBio" name="btnBio" type="button" value="생채인증 호출"/>
        <input id="btnVersion" name="btnVersion" type="button" value="버전정보 호출"/>
        <input id="btnToken" name="btnToken" type="button" value="토큰 호출"/>
        <input id="file" name="file" type="file" value="이미지첨부"/>


    </form>
</div>


</body>


<script>
    $('#btnSend').click(function(){
        sendToNative();

    });
    $('#btnBio').click(function(){
        BioCall();

    });
    //버전 체크시 아이폰 콜백
    var versionCheck = function(version){
        alert(version);
    }
    $('#btnVersion').click(function(){
        var varUA = navigator.userAgent.toLowerCase(); //userAgent 값 얻기

        if ( varUA.indexOf('android') > -1) {
            if(window.YescoApp && window.YescoApp.setUserInfo){

                console.log("android available");
                let version = window.YescoApp.getVersionInfo();
                alert(version);
                console.log(version);
            }else{
                console.log("android not available");
            }

        } else if ( varUA.indexOf("iphone") > -1||varUA.indexOf("ipad") > -1||varUA.indexOf("ipod") > -1 ) {
            //IOS
            window.webkit.messageHandlers.script.postMessage('versionCheck');
        } else {
            //아이폰, 안드로이드 외
            return "other";
        }

    });
    $('#btnToken').click(function(){

        if(window.YescoApp && window.YescoApp.getToken){

            console.log("android available");
            let token = window.YescoApp.getToken();
            alert(token);
            console.log(token);
        }else{
            console.log("android not available");
        }
    });


    var sendToNative = function(){
        let id = $("#id").val();
        let pw = $("#pw").val();


        var varUA = navigator.userAgent.toLowerCase(); //userAgent 값 얻기

        if ( varUA.indexOf('android') > -1) {
            if(window.YescoApp && window.YescoApp.setUserInfo){

                console.log("android available");
                window.YescoApp.setUserInfo(id,pw);
            }else{
                console.log("android not available");
            }
        } else if ( varUA.indexOf("iphone") > -1||varUA.indexOf("ipad") > -1||varUA.indexOf("ipod") > -1 ) {
            //IOS
            var jsonObj = {"id":id, "pw":pw};
            window.webkit.messageHandlers.system.postMessage(JSON.stringify(jsonObj));
        } else {
            //아이폰, 안드로이드 외
            return "other";
        }

        console.log("id="+id,"pw="+pw);
    };

    var BioCall = function(){

        var varUA = navigator.userAgent.toLowerCase(); //userAgent 값 얻기

        if ( varUA.indexOf('android') > -1) {
            if(window.YescoApp && window.YescoApp.bioCall){

                console.log("android available");
                window.YescoApp.bioCall();
            }else{
                console.log("android not available");
            }
        } else if ( varUA.indexOf("iphone") > -1||varUA.indexOf("ipad") > -1||varUA.indexOf("ipod") > -1 ) {
            //IOS
            window.webkit.messageHandlers.script.postMessage('bioCall');
        } else {
            //아이폰, 안드로이드 외
            return "other";
        }
    };

    var BioCallback = function(id,pw){
        alert(id+","+pw);
        console.log("====================BioCallback id="+id,"pw="+pw);
    };
</script>
</html>
